/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

a.arrow {
	display: block;
	border: 1px solid #aaa;
	text-decoration: none;
	background-color: #fafafa;
	color: #123456;
	margin: 2px;
	clear: both;
}
select.select-box {
	min-width: 400px;
}

body {
	color: #333;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	margin: 0px;
	background-color: #ECFAFB;
	min-height: 638px;
}

.entry_page {
	width: 900px;
	margin: auto;
}

.body_wrap {
	background: url(body_top.jpg) center top no-repeat;
	width: 100%;
	min-height: 400px;
}
.middle {
}

body > div.content {
	width: 900px;
	margin: auto;
}

h1 {
	color: #999966;
}
div#header {
	padding-top: 19px;
}
#header div#menu {
	padding: auto;
	width: 100%;
	background-image: -webkit-linear-gradient(top, #62C462, #51A351);
	background-image: -o-linear-gradient(top, #62C462, #51A351);
	background-image: -moz-linear-gradient(top, #62C462, #51A351);
	background-image: linear-gradient(top, #62C462, #51A351);
	height: 40px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.preload1 {
	background: url(blank_over.gif);
}
.preload2 {
	background: url(blank_overa.gif);
}

#nav {
	width: 650px;
	margin: auto;
	padding: 0;
	height: 41px;
	list-style: none;
}

/* make the LI display inline */
/* it's position relative so that position absolute */
/* can be used in submenu */
#nav li {
	float: left;
	display: block;
	width: 115px;
	background-image: -webkit-linear-gradient(top, #62C462, #51A351);
	background-image: -o-linear-gradient(top, #62C462, #51A351);
	background-image: -moz-linear-gradient(top, #62C462, #51A351);
	background-image: linear-gradient(top, #62C462, #51A351);
	position: relative;
	z-index: 500;
	border-right: 1px solid #6A3;
}

/* this is the parent menu */
#nav li a {
	display: block;
	padding: 8px 5px 0 5px;
	font-weight: 700;
	height: 32px;
	text-decoration: none;
	color: #fff;
	text-align: center;
	color: #333;
}

#nav li a:hover {
	color: #fff;
}

/* you can make a different style for default selected value */
#nav a.selected {
	color: #f00;
}

/* submenu, it's hidden by default */
#nav ul {
	position: absolute;
	left: 0;
	display: none;
	margin: 0 0 0 -1px;
	padding: 0;
	list-style: none;
}

#nav ul li {
	width: 115px;
	float: left;
	border-top: 1px solid #fff;
}

/* display block will make the link fill the whole area of LI */
#nav ul a {
	display: block;
	height: 15px;
	padding: 8px 5px;
	color: #666;
}

#nav ul a:hover {
}

/* fix ie6 small issue */
/* we should always avoid using hack like this */
/* should put it into separate file : ) */
*html #nav ul {
	margin: 0 0 0 -2px;
}

div.middle {
	border-bottom-left-radius: 11px;
	border-bottom-right-radius: 11px;
	background-color: white;
	padding: 25px;
}
.nifty_form {
	margin: auto;
	width: 450px;
	padding: 78px;
}
span.error {
	color: red;
	font-weight: bold;
}
table {
	width: 100%
}
th {
	font-size: 13px;
	font-weight: bold;
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #6D929B;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

td.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(images/bullet1.gif) no-repeat;
}

th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #B4AA9D;
}
td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #6D929B;
}

td.alt {
	background: #F5FAFA;
	color: #B4AA9D;
}

tr.odd td {
	background: #E2DFE7;
}

a.button {
	background: transparent url('bg_button_a.gif') no-repeat scroll top right;
	color: #444;
	display: block;
	float: left;
	font: normal 12px arial, sans-serif;
	height: 24px;
	margin-right: 6px;
	padding-right: 18px; /* sliding doors padding */
	text-decoration: none;
}

a.button span {
	background: transparent url('bg_button_span.gif') no-repeat;
	display: block;
	line-height: 14px;
	padding: 5px 0 5px 18px;
}

a.button:active {
	background-position: bottom right;
	color: #000;
	outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
	background-position: bottom left;
	padding: 6px 0 4px 18px; /* push text down 1px */
}
